<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Liebre ;)</title>

   <script src="https://kit.fontawesome.com/bd4409a55c.js" crossorigin="anonymous"></script>
   <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> -->

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500;1,700&display=swap"
      rel="stylesheet">

   <link rel="stylesheet" href="/css/style.css">
</head>

<body>
   <header class="main-header">

      <div class="header-top">
         <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Imagen del logo"></a>
         <div class="header-search">
            <input type="text" class="search" placeholder="Buscar productos, marcas">
            <i class="fa-solid fa-magnifying-glass"></i>
         </div>
         <p class="header-right">
            <i class="fas fa-hand-holding-dollar"></i>
            Compra en cuotas y sin tajeta de credito
         </p>
      </div>

      <nav class="header-navbar">
         <ul class="navbar-left">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
         </ul>

         <ul class="navbar-right">
            <li><a href="register">Crea tu cuenta <span><i class="fas fa-id-card"></i> </span></a></li>
            <li><a href="login">ingresa <span><i class="fa-solid fa-right-to-bracket"></i></span></a></li>
            <li><a href="#">Mis compras <span><i class="fa-solid fa-basket-shopping"></i></span></a></li>
         </ul>
      </nav>

      <div class="burger-menu">
         <i class="fas fa-bars" id="icono"></i>
      </div>

      

   </header>

   <main>

      <img class="banner" src="/images/img-home-banner.jpg" alt="">
      
      <h2>Basado en tu ultima visita</h2>
      <section>
         
         <article>
            <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de la Cafetera"></img>
            <div class="article-description-content">
               <i class="fa-solid fa-truck"></i>
               <span class="precio">$6770</span>
               <span class="descuento">40% off</span>
               <span class="descripciones">Cafetera Moulinex</span>
            </div>
         </article>
         <article>
            <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de la img-macbook-pro-2019">
            <div class="article-description-content">
               <span class="truck"><i class="fa-solid fa-truck"></i></span>
               <span class="precio">$23000</span>
               <span class="descuento">40% off</span>
               <span class="descripciones">MacBook Pro 2019</span>
            </div>
         </article>
         <article>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de la Cafetera">
            <div class="article-description-content">
               <span class="truck"><i class="fa-solid fa-truck"></i></span>
               <span class="precio">$70500</span>
               <span class="descuento">10% off</span>
               <span class="descripciones">Samsung Galaxy S10</span>
            </div>
         </article>
         <article>
            <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen de la Cafetera">
            <div class="article-description-content">
               <span class="truck"><i class="fa-solid fa-truck"></i></span>
               <span class="precio">$23200</span>
               <span class="descuento">5% OFF</span>
               <span class="descripciones">SmartTv Samsung 43"</span>
            </div>

         </article>
      </section>

      <h2>Seccion de Ofertas</h2>
      <section>
         
         <article>
            <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de la Cafetera">
            <div class="article-description-content">
               <span class="truck"><i class="fa-solid fa-truck"></i></span>
               <span class="precio">$6770</span>
               <span class="descuento">40% off</span>
               <span class="descripciones">Cafetera Moulinex</span>
            </div>
         </article>
         <article>
            <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de la img-macbook-pro-2019">
            <div class="article-description-content">
               <span class="truck"><i class="fa-solid fa-truck"></i></span>
               <span class="precio">$23000</span>
               <span class="descuento">40% off</span>
               <span class="descripciones">MacBook Pro 2019</span>
            </div>
         </article>
         <article>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de la Cafetera">
            <div class="article-description-content">
               <span class="truck"><i class="fa-solid fa-truck"></i></span>
               <span class="precio">$70500</span>
               <span class="descuento">10% off</span>
               <span class="descripciones">Samsung Galaxy S10</span>
            </div>
         </article>
         <article>
            <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen de la Cafetera">
            <div class="article-description-content">
               <span class="truck"><i class="fa-solid fa-truck"></i></span>
               <span class="precio">$23200</span>
               <span class="descuento">5% OFF</span>
               <span class="descripciones">SmartTv Samsung 43"</span>
            </div>
         </article>
      </section>
   </main>

   <hr>
   <footer>
      <section>
         <div><i class="fa-solid fa-credit-card"></i></div>
         <h3>Pagá con tarjeta o en efectivo</h3>
         <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
      </section>
      <section>
         <div><i class="fa-solid fa-gift"></i></div>
         <h3>Envío gratis desde $ 2.500</h3>
         <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
      </section>
      <section>
         <div><i class="fa-solid fa-user-shield"></i></div>
         <h3>Seguridad, de principio a fin</h3>
         <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
      </section>
      <section>
         <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </section>
   </footer>
</body>

</html>